html, body {
    height: 100%;
    margin: 0;
}

header { 
    background-image: url("../img/hotelvilleLB.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height : 100%;
    width: 100%;

}

section {
    padding: 50px;
}

body{
    color: white;
    text-decoration: none;
}